body {
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
}

.container {
	position: relative;
	width: 600px;
	height: 400px;
	background-color: red;
}

.slide-button-container {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 50px;
	background-color: green;
}

.arrow {
	position: absolute;
	top:0;
	height: 100%;
	width: 50px;
	background-color: orange;
}

.arrow:hover {
	background-color: purple;
}

.arrow-left {
	left: 0;
}

.arrow-right {
	right: 0;
}